#container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

input{
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
}

button{
  background-color: #101f78;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 10px 10px 10px 10px;

}

button:hover{
  background-color: #1c31a5;
  cursor:pointer;
}

#ancora{
  background-color: #37ab98;
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 10px 10px 10px 10px;
}

#ancora:hover{

  background-color: #80bc96;
  cursor:pointer;
}